@font-face {
  font-family: 'WT-Cons-Icon';
  src:  url('../fonts/WT-Cons-Icon01ec.eot?od3t9s');
  src:  url('../fonts/WT-Cons-Icon01ec.eot?od3t9s#iefix') format('embedded-opentype'),
    url('../fonts/WT-Cons-Icon01ec.ttf?od3t9s') format('truetype'),
    url('../fonts/WT-Cons-Icon01ec.woff?od3t9s') format('woff'),
    url('../fonts/WT-Cons-Icon01ec.svg?od3t9s#WT-Cons-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wt {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WT-Cons-Icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wt-transport-1 .path1:before {
  content: "\e900";
  color: rgb(162, 162, 162);
}
.wt-transport-1 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport-1 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport-1 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport-1 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport-1 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport-1 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.wt-transport-1 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport-1 .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport-1 .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport-1 .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(225, 86, 73);
}
.wt-transport-1 .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport-1 .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport-1 .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport-1 .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport .path1:before {
  content: "\e90f";
  color: rgb(250, 183, 2);
}
.wt-transport .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-transport .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(225, 86, 73);
}
.wt-transport .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.wt-transport .path11:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path12:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path13:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path14:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path15:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path16:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path17:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-transport .path18:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-transport .path19:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-3 .path1:before {
  content: "\e922";
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-3 .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.wt-construction-3 .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-3 .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-construction-3 .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-construction-3 .path7:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(225, 86, 73);
}
.wt-construction-3 .path8:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.wt-construction-3 .path9:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path10:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path11:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path12:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path13:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path14:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path15:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-construction-3 .path16:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-3 .path17:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-2 .path1:before {
  content: "\e933";
  color: rgb(250, 183, 2);
}
.wt-construction-2 .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(224, 224, 224);
}
.wt-construction-2 .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-construction-2 .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(163, 170, 175);
}
.wt-construction-2 .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-construction-2 .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(224, 224, 224);
}
.wt-construction-2 .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-construction-2 .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-construction-2 .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path1:before {
  content: "\e93c";
  color: rgb(163, 170, 175);
}
.wt-cut .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-cut .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path5:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path6:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path7:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(224, 224, 224);
}
.wt-cut .path8:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path9:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-cut .path10:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-2 .path1:before {
  content: "\e946";
  color: rgb(86, 86, 86);
}
.wt-technology-2 .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-technology-2 .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-2 .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-technology-2 .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-technology-2 .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-technology-2 .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-2 .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-technology-2 .path9:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-2 .path10:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-2 .path11:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path1:before {
  content: "\e951";
  color: rgb(250, 183, 2);
}
.wt-improvement .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path5:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path6:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path7:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-improvement .path8:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path1:before {
  content: "\e959";
  color: rgb(195, 199, 203);
}
.wt-technology-1 .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path3:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-technology-1 .path4:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path5:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path6:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path7:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path8:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology-1 .path9:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-construction-1 .path1:before {
  content: "\e962";
  color: rgb(50, 62, 91);
}
.wt-construction-1 .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(50, 62, 91);
}
.wt-construction-1 .path3:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-1 .path4:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(171, 176, 178);
}
.wt-construction-1 .path5:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(171, 176, 178);
}
.wt-construction-1 .path6:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction-1 .path7:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(181, 128, 36);
}
.wt-construction-1 .path8:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(171, 176, 178);
}
.wt-construction-1 .path9:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(171, 176, 178);
}
.wt-construction-1 .path10:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(171, 176, 178);
}
.wt-construction-1 .path11:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(203, 212, 216);
}
.wt-construction-1 .path12:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(203, 212, 216);
}
.wt-construction-1 .path13:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(181, 128, 36);
}
.wt-construction-1 .path14:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(181, 128, 36);
}
.wt-construction .path1:before {
  content: "\e970";
  color: rgb(244, 186, 72);
}
.wt-construction .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(163, 170, 175);
}
.wt-construction .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(121, 131, 137);
}
.wt-construction .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(121, 131, 137);
}
.wt-construction .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(224, 224, 224);
}
.wt-construction .path7:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(163, 170, 175);
}
.wt-construction .path8:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(163, 170, 175);
}
.wt-construction .path9:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction .path10:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-construction .path11:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-technology .path1:before {
  content: "\e97b";
  color: rgb(250, 183, 2);
}
.wt-technology .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-technology .path3:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path4:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path5:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-technology .path6:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path7:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path8:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path9:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path10:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-technology .path11:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-loader .path1:before {
  content: "\e986";
  color: rgb(83, 83, 83);
}
.wt-loader .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-loader .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-loader .path4:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-loader .path5:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-loader .path6:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-loader .path7:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-loader .path8:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(203, 205, 209);
}
.wt-loader .path9:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-loader .path10:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-loader .path11:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-loader .path12:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-drill .path1:before {
  content: "\e992";
  color: rgb(86, 86, 86);
}
.wt-drill .path2:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-drill .path3:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-drill .path4:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-drill .path5:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-drill .path6:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-drill .path7:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-drill .path8:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(195, 199, 203);
}
.wt-drill .path9:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-drill .path10:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(86, 86, 86);
}
.wt-crane .path1:before {
  content: "\e99c";
  color: rgb(203, 205, 209);
}
.wt-crane .path2:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-crane .path3:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.wt-crane .path4:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-crane .path5:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.wt-crane .path6:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-crane .path7:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(250, 183, 2);
}
.wt-crane .path8:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-crane .path9:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-crane .path10:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(203, 205, 209);
}
.wt-crane .path11:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-crane .path12:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(188, 141, 47);
}
.wt-crane .path13:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
